* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f6f6fb;
}

.m-cont {
    display: flex;
    height: 95vh;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.side-1 {
    width: 30%;
    text-align: center;
    background-color: #0a0d24;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    color: white;
}

.side-2 {
    width: 67%;
    margin: 20px;
    margin-top: 0;
}

.post-input {
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

.i-col {
    width: 80%;
}

textarea {
    width: 100%;
    height: 130px;
    resize: none !important;
    border-color: #202341;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
}

.post-data {
    margin-bottom: 10px;
}

.btn {
    text-align: center;
    padding: 15px;
    margin-top: 5px;
    color: #0a0d24;
    border-radius: 10px;
    width: max-content;
    margin: auto;
    font-size: 0.8em;
    text-align: right;
}

.btn>a {
    color: #0a0d24;
    text-decoration: none;
}

.form-control:focus {
    border-color: #202341;
    border-width: 2px;
}

.topics {
    width: 100%;
    height: 50px;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    border-color: #0a0d24;
}

.media-btn {
    border: none;
    background-color: #0a0d24;
    color: white;
    padding: 15px 20px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.media-btn:hover {
    cursor: pointer;
}

.submit-btn {
    border: none;
    background-color: #0a0d24;
    color: white;
    padding: 15px 20px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    border-radius: 10px;
}

.submit-btn:hover {
    cursor: pointer;
}

.cross {
    display: flex;
    flex-direction: row;
}

.col-span {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 20px;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.username {
    font-size: 3em;
}

.logout {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    text-decoration: none;
    color: #0a0d24;
}

.num {
    font-size: 5em;
}

.post-card {
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.post-profile-img {
    width: 50px !important;
    height: 50px !important;
}

.date {
    font-weight: 300;
    font-size: 0.8em;
}

.post-image {
    width: 100%;
    height: auto;
}

.posts {
    width: 70%;
    margin: auto;
}

.flex {
    padding-top: 15px;
    margin-left: 5px;
}

.card-top {
    display: flex;
    justify-content: space-between;
}

.user-part {
    display: flex;
    flex-direction: row;
}

.side-1 {
    position: fixed;
    height: 95vh;
}

.side-2 {
    margin-left: 600px;
}

.bar {
    background-color: #0a0d24;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
}

.bar>p:hover {
    cursor: pointer;
}

.link-b {
    color: white;
    text-decoration: none;
}

.ml {
    margin-left: 30px;
}

.width-c {
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

.comment {
    margin-top: 20px;
    border-bottom: 1.5px #efefef solid;
}

.comments:last-child {
    border-bottom: none !important;
}

.small-a {
    height: 100px;
}

.mt {
    margin-top: 10px;
}